.loader {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-top: 5px solid #606266;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.star-rating {
  font-size: 24px;
}

.full-star {
  color: #ffd700;
}

.half-star {
  position: relative;
  display: inline-block;
  color: #ffd700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  font-weight: 700
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background: transparent;
}

main {
  flex: 1;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #fafafa;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d9af2;
}

p {
  line-height: 2;
  text-align: center;
  color: black;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.teal {
  color: #71c4c8;
}

img {
  max-width: 100%;
  height: auto;
}

.nav__links li {
  list-style-type: none;
  position: relative;
}

.nav__link:hover::before,
.nav__link.active::before {
  width: 100%;
}

.nav__link:hover,
.nav__link.active {
  color: #71c4c8;
}

.nav__link--primary {
  border: 2px solid black;
  border-radius: 4px;
}

.nav__link--primary:hover,
.nav__link--primary.active {
  color: #71c4c8;
  border-color: #71c4c8;
}

h1 {
  font-size: 58px;
  color: #71c4c8;
  padding: 0 20px;
  text-align: center;
}

.cars__header--title {
  color: white;
  margin: 0;
  padding-bottom: 20px;
}

h2 {
  font-size: 40px;
  margin-bottom: 32px;
  text-align: center;
  color: black;
}

h3 {
  font-size: 20px;
  padding-bottom: 20px;
  color: black;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #ebac76;
}

.btn:active {
  background-color: #d3d3d3;
  transform: translateY(1px);
}

.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin: 20px auto;
  width: 500px;
}

.car__img--wrapper {
  width: 100%;
  padding-top: 50%;
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 4px;
}

.car__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.car__img:hover {
  transform: translateY(-5px);
  filter: brightness(70%);
}

.car__title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 8px;
  color: black;
}

.car__rating {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 16px;
  margin-top: 8px;
  color: #fdb747;
  margin-bottom: 1rem;
  font-weight: bold;
}

.car .btn {
  padding: 8px 16px;
  font-size: 14px;
  margin-bottom: 16px;
}

#filter-select {
  font-size: 15px;
  margin-bottom: 20px;
}

.carousel {
  position: relative;
  overflow: hidden;
  min-height: 400px;
  margin: 0 20px;
}

.carousel h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 24px;
}

.carousel .car {
  flex: 0 0 calc(25% - 18px);
  max-width: calc(25% - 18px);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateX(5%);
  background: #1d9af2;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
}

.carousel-button.prev {
  left: 10px;
}
.carousel-button.next {
  right: 10px;
}

.cars__container {
  padding: 24px 0;
}

.cars__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #1d9af2;
}

.cars__header--title {
  margin-bottom: 0;
}

.cars__header select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 48%;
  max-width: 200px;
}

.car-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
}

.car-cover {
  flex: 0 0 auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.car-cover img {
  max-width: 100%;
  max-height: 350px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.car-info {
  flex: 1 1 300px;
}

.car-title {
  font-size: 48px;
  margin-bottom: 10px;
  color: black;
}

.car-rating {
  font-size: 1.1rem;
  color: #fdb747;
  margin-bottom: 1rem;
  font-weight: bold;
}

.car-description,
.car-bio p {
  width: 100%;
  padding-bottom: 16px;
  text-align: left;
}

.car-price {
  font-weight: bold;
  color: green;
  text-align: left;
  font-size: 18px;
}

.car-publish-date,
.car-price,
.car-category {
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  padding: 0;
}

.car-bio,
.car-reviews,
.car-other-info p {
  text-align: left;
  width: 100%;
}

.car-bio h2,
.car-reviews h2,
.car-other-info h2 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 0.5rem;
  text-align: left;
}

.car-reviews ul {
  list-style-type: none;
  padding: 0;
  color: black;
}

.car-reviews li {
  margin-bottom: 1rem;
  font-style: italic;
}

.btn {
  display: inline-block;
  padding: 0px 20px;
  padding-bottom: 14px;
  padding-top: 10px;
  background-color: #1d9af2;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 300ms ease-in-out;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #ebac76;
  transform: scale(1.1);
}

.btn:active {
  background-color: #d3d3d3;
  transform: translateY(1px);
}

footer {
  background-color: #1d9af2;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
 
}
footer .container {
    margin: 2rem auto;
}

.footer__logo {
  width: 300px;
  transition: transform 300ms ease-in-out;
  transform: scale(1);
}

.footer__logo:hover {
  transform: scale(1.1);
}

.footer__list li {
  list-style-type: none;
  position: relative;
  margin: 0 10px;
}
.footer__link:hover,
.footer__link.active {
  color: #d3d3d3;
}

.footer__copyright {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #71c4c8;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 300ms ease;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #71c4c8;
}
button {
  display: block;
  width: 100%;
  padding: 12px 24px;
  background-color: #1d9af2;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
button:hover {
  transform: scale(1.02);
  background-color: #ebac76;
}
button:active {
  background-color: #d3d3d3;
  transform: translateY(1);
}
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #71c4c8;
  color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  z-index: 1000;
}

#name,
#email,
#message {
  color: black;
}

ul {
  padding-bottom: 20px;
}

.cookie-banner {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(113, 196, 200, 0.5);
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 1000;
}

.cookie-banner a {
  color: white;
  text-decoration: underline;
}

.cookie-banner button {
  color: white;
  border: none;
  width: 25%;
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

.cookie-banner button:hover {
  background-color: #ebac76;
}

@media (max-width: 1200px) {
  .about__para {
    width: 90%;
  }
  .cars,
  .carousel .car {
    grid-template-columns: repeat(3, 1fr);
  }
  .carousel .car {
    flex: 0 0 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
  }
}

@media (max-width: 900px) {
  .cars,
  .carousel .car {
    grid-template-columns: repeat(2, 1fr);
  }
  .carousel .car {
    flex: 0 0 calc(50% - 12px);
    max-width: calc(50% - 12px);
  }

  .highlight__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .highlight {
    width: 100%;
    max-width: 400px;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {


  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .logo {
    width: 40px;
  }
  .footer__logo {
    width: 50px;
  }

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 36px;
  }

  .btn.header__button {
    width: 40%;
    padding-bottom: 15px;
  }

  .car-details {
    flex-direction: column;
  }

  .car-cover {
    flex: 0 0 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .about__para {
    width: 100%;
    flex-direction: column;
  }

  .about__list {
    max-width: 100%;
  }

  #contactForm {
    width: 70%;
  }

  .car-title {
    font-size: 32px;
  }

  .car-details {
    text-align: center;
  }
}

@media (max-width: 600px) {
  #best-sellers {
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn.header__button {
    width: 50%;
  }
  .cars,
  .carousel .car {
    grid-template-columns: 1fr;
  }
  .carousel .car {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .btn.header__button {
    width: 50%;
  }
  .hero {
    height: 90vh;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .header__img--wrapper {
    margin-bottom: 0;
  }
  .contact-us--para {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .btn.header__button {
    width: 50%;
  }
  h3 {
    font-size: 16px;
  }
}
@media (max-width: 490px) {
  .btn.header__button {
    width: 50%;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .highlight {
    padding: 20px;
    width: 60%;
  }

  .highlight__img {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  .highlight__subtitle {
    font-size: 18px;
  }

  .highlight__para {
    font-size: 12px;
    margin: 0;
  }

  .about__para {
    width: 100%;
    padding: 10px;
  }

  .about__list {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  .stars-icon {
    scale: 0.8;
  }
}
@media (max-width: 440px) {

  .stars-icon {
    scale: 0.8;
  }
  
}

@media (max-width: 400px) {
    .hero {
        height: 90vh;
      }
    }

@media (max-width: 390px) {
  .btn.header__button {
    width: 70%;
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }

  .header__img--wrapper {
    height: 50%;
  }
  .hero {
    height: 80vh;
  }
}



@media (max-width: 320px) {
  .highlight {
    padding: 16px;
  }

  .highlight__img {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .highlight__subtitle {
    font-size: 16px;
  }

  .highlight__para {
    font-size: 12px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate {
  animation: fadeIn 0.6s ease-out forwards;
}

.fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}

.slide-up {
  animation: slideUp 0.6s ease-out forwards;
}

nav,
.header__img {
  animation: fadeIn 0.8s ease-out;
}

.btn.header__button,
h1,
h2,
h3 {
  opacity: 0;
  animation: slideUp 0.8s ease-out forwards;
}

h1 {
  animation-delay: 0.2s;
}
h2 {
  animation-delay: 0.4s;
}
h3 {
  animation-delay: 0.6s;
}
.btn.header__button {
  animation-delay: 0.8s;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border: 5px solid #f3f3f3;
  border-top: 3px solid #b179aa;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.loading-spinner-text {
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
